<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../block/head %>
        <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="/css/admin/userList.css">
</head>

<body class="nav-md footer_fixed">

    <div class="container body">
        <div class="main_container">
            <% include ../block/leftpanelV2 %>
                <% include ../block/toppanelV2 %>
                    <!-- <form action="/userListv2" method="POST">     -->
                    <form role="form" id="frmSaveData">
                        <!-- page content -->
                        <div class="right_col " role="main" style="min-height: 100vh">
                            <div class="page-title">
                                <div class="title_left">
                                    <h3> <small><strong></strong></small></h3>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Department List</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content" id="xcontentid">

                                            <table class="table table-striped table-bordered mydatatable" style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th>DepartmentCode </th>
                                                        <th>DepartmentName</th>
                                                        <th>CompanyCode</th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <% if ( ListDepartment) { %>
                                                        <% for( var i=0 ; i < ListDepartment.length ; i++) { %>
                                                            <tr>
                                                                <td>
                                                                    <%=ListDepartment[i].DepartmentCode %>
                                                                </td>
                                                                <td>
                                                                    <%=ListDepartment[i].DepartmentName %>
                                                                </td>
                                                                <td>
                                                                    <%=ListDepartment[i].CompanyCode %>
                                                                </td>
                                                      
                                                            </tr>
                                                            <% } %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td> Empty </td>
                                                                        <td> Empty </td>
                                                                        <td> Empty </td>
                                                                    </tr>
                                                                    <% } %>
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="modalAddUpdate" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Department Update</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label for="txtDepartmentCode">Department Code:</label>
                                                <input type="text" class="form-control" name="txtDepartmentCode" id="txtDepartmentCode">
                                                <!-- <input type="hidden" id="hidID" value="0" /> -->
                                            </div>
                                            <div class="form-group">
                                                <label for="txtDepartmentName">Department Name:</label>
                                                <input type="text" class="form-control" name="txtDepartmentName" id="txtDepartmentName">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtDepartmentName">Company</label>
                                                <select name="" id="selectCompany" class="form-control">
                                                  <%  if(arrListCompany_Load_Web_V1 ) { %>
                                                       <% for ( var i = 0 ; i <arrListCompany_Load_Web_V1.length; i++){ %>>
                                                            <option value="<%-arrListCompany_Load_Web_V1[i].CompanyCode%>"> <%=arrListCompany_Load_Web_V1[i].CompanyName%></option>
                                                        <%}%>
                                                   <% } %>
                                                    <!-- <option value=""></option> -->
                                                </select>
                                            </div>
                                
                                            <div class="modal-footer">
                                                <button type="submit" name="submitInsert" value="submitInsert" class="btn btn-primary" id="btnSave">Save</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                            <!-- <div class="checkbox">
                                            <label><input type="checkbox" id="ckStatus">Active</label>
                                            </div> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal -->
                        </div>
                        <!-- /page content -->

                        <!-- footer content -->
                        <footer>
                            <div class="nav_menu">
                                <nav class="nav navbar-nav">
                                    <ul class=" navbar-right">
                                        <li style="padding-right: 15px; float: right; margin-top: 20px;">
                                            <button type="button" class="btn btn-success" id="btnAddNew">New</button>
                                            <button type="button" class="btn btn-info" id="btnedit">Edit</button>
                                            <button type="submit" name="bsubmit" value="submitDelete" class="btn btn-danger" id="btnDeleteId">Delete</button>
                                            <!-- <button type="submit" name="bsubmit" value="submitSave" class="btn btn-primary" id="btnSaveId">Save</button>
                                        <button type="button" onclick="cancelUser()" name="bsubmit" value="submitCancel" class="btn btn-secondary" id="btnCancelId">Cancel</button> -->
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </footer>
                        <!-- /footer content -->
        </div>
    </div>
    <% include ../block/script %>
        <!-- <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script> -->
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/javascripts/admin/ListDeparmentjs.js"></script>
        <!-- </form> -->
        </form>
</body>

</html>